<a class="picture-item">
    <span class="caption">
        <span class="caption-content">
            <h2>Stationary</h2>
            <p class="mb-0">*TEST*</p>
        </span>
    </span>
    <img class="img-fluid" src="{{ asset("img/portfolio-1.jpg") }}" alt="">
</a>