<a class="picture-item" href="#">
    <span class="caption">
        <span class="caption-content">
            <h2>Stationary</h2>
            <p class="mb-0">*TEST* A yellow pencil with envelopes on a clean, blue backdrop!</p>
        </span>
    </span>
    <img class="img-fluid" src="{{ asset("img/portfolio-1.jpg") }}" alt="">
</a>